* {
    margin: 0;
    padding: 0;
}

ul,
li {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
    display: inline-block;
    font-family: "Playfair Display", Sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    font-family: "Playfair Display", Sans-serif;
}

p {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

img {
    vertical-align: middle;
}

.banner_heading {
    color: #181818;
    font-size: 50px;
    font-weight: 700;
    text-transform: capitalize;
    letter-spacing: 3px;
    text-align: end;
}

.paragraph {
    font-size: 14px;
    color: #666666;
    line-height: 20px;
    font-weight: 400;
}

.heading_area {
    position: relative;
    margin-bottom: 80px;
}

.heading_area .img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;

}

.heading_area img {
    width: 216px;
}

.mini_heading {
    font-size: 14px;
    font-weight: 700;
    font-style: italic;
    line-height: 22px;
    color: #181818;
    text-align: center;
}

.heading {
    font-size: 36px;
    font-weight: 700;
    line-height: 22px;
    color: #181818;
    text-align: center;
    margin-top: 10px;
}

/* ===all common css end === */

/* ===navbar part start === */

#navbar {
    padding: 20px 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    transition: 1s;
    background: #ffffff;
}

#navbar.sticky {
    position: fixed;
    background-color: #ffffff;
    top: 0;
    padding: 5px 0;
}

#navbar ul li a,
#navbar .menu_btn {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: #1e1e1e;
    padding: 18px 12px 18px 12px;
}

#navbar .menu_btn i {
    margin-right: 5px;
}

/* ===navbar part end === */

/* ===banner part start ==== */
#banner .left .item1 {
    background: url(../img/banner3-slider1.jpg) no-repeat center;
    background-size: cover;
    padding: 200px 50px 170px 0;
}

#banner .left .item2 {
    background: url(../img/banner3-slider2.jpg) no-repeat center;
    background-size: cover;
    padding: 200px 50px 170px 0;
}

#banner .left .item3 {
    background: url(../img/banner3-slider3.jpg) no-repeat center;
    background-size: cover;
    padding: 200px 50px 170px 0;
}

#banner .left .item h3 {
    color: #666666;
    font-size: 36px;
    font-weight: 600;
    text-transform: capitalize;
    line-height: 66px;
    text-align: end;
    margin: 47px 0;
}

#banner .left .item a {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 20px;
    background-color: #88be4c;
    padding: 12px 24px;
    color: white;
    text-align: end;
}

#banner .left .banner_slider ul li button {
    font-size: 0;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #999393;
    border: none;
    transition: .3s;
}

#banner .left .banner_slider ul li.slick-active button {
    background-color: #181818;
}

#banner .left .banner_slider .slick-dots {
    display: flex;
    gap: 10px;
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
}

#banner .right .img1 {
    margin-bottom: 20px;
}

/* ===banner part end ==== */

/* ===product part start === */
#product {
    padding: 100px 0;
}


#product ul li button {
    font-family: "Playfair Display", Sans-serif;
    color: #333333;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 16px;
    position: relative;
}

#product ul li button.active {
    background: none;
    color: black;
}

#product ul {
    display: flex;
    justify-content: center;
    margin-bottom: 40px !important;
}

#product ul li button::after {
    height: 2px;
    width: 0;
    background-color: #88be4c;
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    transition: .3s;
}

#product ul li button.active::after {
    width: 100%;
}

#product ul li button img {
    display: block;
    width: 40px;
    margin: 0 auto;
}

.product_slider .item {
    margin: 0 15px;
}

.product_slider .bottom {
    margin-top: 30px;
}

.product_slider .item .img {
    position: relative;
}

.product_slider .item .img img {
    width: 100%;
}

.product_slider .item .img .circle {
    position: absolute;
    top: 5%;
    left: 2%;
    background-color: #ff7380;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product_slider .item .img .green {
    background-color: #88be4c;
}

.product_slider .item .img .circle h6 {
    font-size: 18px;
    color: white;
    font-weight: 400;
}

.product_slider .item .img .shape {
    background-color: white;
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 20px;
    padding: 10px 20px;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
}

.product_slider .item:hover .img .shape {
    opacity: 1;
    visibility: visible;
    bottom: 19px;
}

.product_slider .item .img .shape i {
    font-size: 20px;
    color: #181818;
}

.product_slider .item .img .shape a {
    position: relative;
}

.product_slider .item .img .shape a p {
    font-size: 14px;
    color: white;
    position: absolute;
    top: -35px;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    width: 102px;
    transition: .3s;
    opacity: 0;
    visibility: visible;
    background-color: #181818;
    text-align: center;
    border-radius: 5px;
    padding: 5px 0;
}

.product_slider .item .img .shape a:hover p {
    opacity: 1;
    visibility: visible;
}

.product_slider .item .name {
    font-size: 16px;
    color: #181818;
    text-align: center;
    font-weight: 500;
    margin: 12px 0;
    display: block;
}

.product_slider .item .title {
    font-size: 14px;
    color: #666666;
    text-align: center;
    font-weight: 400;
    margin: 12px 0;
    display: block;
}

.product_slider .item h5 {
    font-size: 14px;
    color: #dc3545;
    text-align: center;
    font-weight: 400;
}

.product_slider .item .rating {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-bottom: 10px;
    color: #666666;
}

.product_slider .item h5 del {
    font-size: 14px;
    color: #666666;
    text-align: center;
    font-weight: 400;
}

.product_slider ul li button {
    font-size: 0 !important;
    height: 10px;
    width: 10px;
    border: none;
    border-radius: 50%;
    background-color: #999393;
    transition: .3s;
}

.product_slider .slick-dots {
    display: flex;
    justify-content: center;
    gap: 3px;
    position: absolute;
    bottom: -92px;
    left: 50%;
    transform: translateX(-50%);
}

.product_slider .slick-dots li.slick-active button {
    background-color: #181818;
}

.product_slider .arrow {
    font-size: 40px;
    color: black;
}

.product_slider .prevarrow {
    position: absolute;
    top: 50%;
    left: -20px;
    transform: translateY(-50%);
    transition: .3s;
}

.product_slider .nextarrow {
    position: absolute;
    top: 50%;
    right: -20px;
    transform: translateY(-50%);
    transition: .5s;
}

/* ===product part end === */

/* ===requiredment part start === */
#required {
    background: url(../img/requiredment\ bg.png) no-repeat center;
    background-size: cover;
    padding: 150px 0;
}

#required h3 {
    font-size: 18px;
    font-weight: 500;
    color: black;
    margin: 0 0px 8px 22px;
}

#required .banner_heading {
    font-size: 38px;
    letter-spacing: -1px;
    margin-bottom: 16px;
}

#required .button a {
    font-size: 15px;
    font-weight: 400;
    padding: 10px 14px;
    color: white;
    background-color: #88be4c;
    border-radius: 30px;
    margin-top: 33px;
    transition: .3s;
}

#required .button:hover a {
    filter: brightness(110%);
}

#required .button a i {
    margin-left: 5px;
}

/* ===requiredment part end === */

/* ===new product part start === */
#new_product {
    padding: 100px 0;
}

/* ===new product part end === */

/* discount part start === */
#discount {
    padding-bottom: 100px;
}

#discount .img img {
    width: 100%;
}

/* discount part end === */

/* ===review part start === */
#review {
    background: url(../img/review\ bg.jpg) no-repeat center;
    background-size: auto;
    padding: 120px 0;
    position: relative;
    z-index: -11;
}

#review .review_slider p {
    margin-top: 40px;
    color: black;
}

#review .review_slider .img {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    overflow: hidden;
}

#review .review_slider .img img {
    width: 100%;
}

#review .review_slider .img_title {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
    align-items: center;
}

#review .review_slider .img .name_title {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#review .review_slider h4 {
    font-size: 18px;
    color: #1e1e1e;
    font-weight: 500;
}

#review .review_slider h5 {
    font-size: 16px;
    color: #666666;
    font-weight: 400;
}

.review_slider ul li button {
    font-size: 0 !important;
    height: 10px;
    width: 10px;
    border: none;
    border-radius: 50%;
    background-color: #999393;
    transition: .3s;
}

.review_slider .slick-dots {
    display: flex;
    justify-content: center;
    gap: 3px;
    position: absolute;
    bottom: -56px;
    left: 50%;
    transform: translateX(-50%);
}

.review_slider .slick-dots li.slick-active button {
    background-color: #181818;
}

/* ===review part end === */

/* ===blog part start === */
#blog {
    padding: 100px 0;
}

#blog .blog_slider .img {
    position: relative;
}

#blog .blog_slider .img img {
    width: 100%;
}

#blog .blog_slider .calender {
    padding: 4px 13px;
    background-color: white;
    position: absolute;
    top: 5px;
    left: 5px;
}

#blog .blog_slider .main .item {
    border: 1px solid #666666;
    margin: 0 15px;
}

#blog .blog_slider .main .item .content {
    padding: 0 20px 20px 20px;
}

#blog .blog_slider .calender h5 {
    font-size: 18px;
    font-weight: 500;
    color: #1e1e1e;
    text-align: center;
}

#blog .blog_slider .calender h5 span {
    display: block;
    margin-top: 5px;
}

#blog .blog_slider h4 {
    font-size: 18px;
    font-weight: 500;
    color: #181818;
    text-align: start;
    text-transform: uppercase;
    margin: 15px 0;
}

#blog .blog_slider a {
    font-size: 20px;
    font-weight: 500;
    color: #181818;
    text-align: start;
    text-transform: uppercase;
    margin-top: 15px;
    transition: .3s;
}

#blog .blog_slider a:hover {
    color: #88be4c;
}

.blog_slider .arrow {
    font-size: 40px;
    color: black;
}

.blog_slider .prevarrow {
    position: absolute;
    top: 50%;
    left: -20px;
    transform: translateY(-50%);
    transition: .3s;
}

.blog_slider .nextarrow {
    position: absolute;
    top: 50%;
    right: -20px;
    transform: translateY(-50%);
    transition: .5s;
}

/* ===blog part end === */

/* ===logo slider part start === */
#logo_slider {
    padding-bottom: 100px;
}

/* ===logo slider part end === */

/* ==contact part start === */
#contact {
    padding: 50px 0;
    background-color: #f4faf6;
}

#contact .contact_heading {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 30px;
    margin-bottom: 20px;
}

#contact ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#contact ul li a {
    font-size: 14px;
    line-height: 24px;
    color: #666666;
    font-weight: 400;
}

#contact ul li li {
    font-size: 15px;
    font-weight: 500;
    color: #181818;
}

#contact .img {
    position: relative;
    margin: 10px 0;
}

#contact .img img{
    width: 100%;
}

#contact .img a {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.contact_bottom {
    margin-top: 50px;
    padding-top: 30px;
    border-top: 1px solid #666666;
}

.contact_bottom input::placeholder {
    font-size: 14px;
    color: #181818;
    font-weight: 400;
}

.contact_bottom input {
    padding: 10px;
    border-radius: 30px;
    border: 1px solid #181818;
}

.contact_bottom button {
    font-size: 16px;
    font-weight: 400;
    color: white;
    padding: 12px 21px;
    border-radius: 30px;
    background-color: #88be4c;
    border: none;
}

.contact_bottom .social_icon a {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #666666;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact_bottom .social_icon a i {
    font-size: 20px;
    color: white;
}

.contact_bottom .social_icon {
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
}

.contact_bottom .contact_heading {
    margin-bottom: 0 !important;
}

/* ==contact part end === */

/* ===footer part start === */
footer {
    padding: 20px;
    background-color: #dbe1dd;
    text-align: center;
}

footer span {
    font-size: 18px;
    font-weight: 500;
    color: #88be4c;
}

/* ===footer part end === */

/* ==========back to top part ======= */
.back_to_top {
    height: 30px;
    width: 30px;
    background-color: #88be4c;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    position: fixed;
    right: 10px;
    top: 10%;
    opacity: 0;
    visibility: hidden;
    transition: all linear 1s;
}

.back_to_top i {
    font-size: 20px;
    color: white;
}

.bottom_to_top {
    opacity: 1;
    visibility: visible;
    top: 90%;
    animation: top 2s linear;
    transform: scale(1.2);
}

@keyframes top {
    0% {
        top: 10%;
    }

    50% {
        top: 95%;
    }

    100% {
        top: 90%;
    }
}

/* ==========back to top part ======= */